{% extends 'base.html' %}
{% load static %}

{% block title %}SPORTS MASSAGE | PAIN RELIEF | MASSAGE THERAPY | Flexible Athlete | SARASOTA{% endblock %}

{% block content %}
<div class="container">
    <div class="container-header">
        <h1>Welcome to the Flexible Athlete!</h1>
        <h3>Sarasota Sports Massage and Chronic Pain Relief Treatments</h3>
        <div class="video-wrapper">
            <!-- Embed code from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dSrxURd8ZJk?si=t8Dhi8RDlob6jgby" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <h2>Is pain stopping you from doing the things you love?</h2>
    </div>
    <p>Are you active, playing a sport you love, but feeling the results of the repetitive strain on your muscles and joints?</p>
    <p>Julie Donnelly, LMT has been a licensed sports massage therapist working with athletes and active adults since 1989, with licenses in Florida and New York. The developer of the Julstro Method, Julie has worked with professional, endurance, world-class and local athletes, teaching them Focused Flexibility Training&reg; self-treatments they use to keep their muscles and joints from being over-strained and injured.</p>
    <br /><p><img src="{% static 'images/flexible-athlete-banner-1.png' %}" alt="" width="1200" height="100" /></p><br />
    <p>Whether you cycle, run, swim, enjoy walking, playing tennis, or golf, Julie will help you improve your flexibility while eliminating the spasms that cause pain. As an athlete, you may be far from home when pain or stiffness strikes. Julie teaches you how to do simple techniques that you can do while you are playing your sport.
    </p>
    <p>Each session is tailored to your specific needs and focuses on finding and eliminating the source of your pain. Call me today and allow me to answer any questions or concerns you may have.
    </p>
    <p>YOU WILL ALSO LEARN SIMPLE TECHNIQUES YOU CAN DO YOURSELF!</p>
    <h4>Relieve These Common Aches & Pains with a Personalized Sports Massage Therapy Session:</h4>
    <div class="list-1">
        <ul>
        <li>Plantar Fasciitis</li>
        <li>Achilles Tendonitis</li>
        <li>Shin Splints</li>
        <li>Sciatica</li>
        <li>Knee PainHip Pain</li>
        <li>Low Back Pain</li>
        <li>Wrist Pain</li>
        <li>Pain Along the Entire Spine</li>
        <li>Rotator Cuff Injury</li>
        <li>Shoulder Pain</li>
        <li>Frozen Shoulder</li>
        <li>Upper Arm Pain</li>
        <li>Tennis / Golf Elbow</li>
        <li>Whiplash</li>
        <li>Headaches</li>
        </ul>
    </div>
    <h4>Why is Julstro Muscular Therapy Sports Massage Different Than Massage?</h4>
    <ul>
    <li>Julstro Muscular Therapy is not a full-body relaxing massage. It is a unique sports massage that focuses on the specific spasms that are putting pressure on the joint and/or nerve. As the spasms are pressed, the toxins are forced out through the muscle fibers and blood fills the void.</li>
    <li>
    <p>Massage is basically general in nature. It increases your circulation and flushes toxins out of the surface muscle fibers.</p>
    </li>
    <li>
    <p>Julstro Muscular Therapy is done through clothing without sliding on the skin, so oil is not necessary. Treatment is not only done in Julie's office, but is also done at a sporting event, the office, or any public place appropriate for the client's activity.</p>
    </li>
    <li>
    <p>Massage uses oil as a lubricant and can leave you feeling the need to take a shower. Treatment must be done in an office or other private area.</p>
    </li>
    <li>
    <p>Julstro Muscular Therapy eliminates the source of pain so the results are long-lasting or permanent.</p>
    </li>
    <li>
    <p>Massage effects last for several hours.</p>
    </li>
    </ul>
    <h4>More Ways You Benefit From Julie's Therapy:</h4>
    <ul>
    <li>
    <p>Target specific muscle groups that cause muscle tension and joint pain.</p>
    </li>
    <li>
    <p>Improved recovery time.</p>
    </li>
    <li>
    <p>Increased strength.</p>
    </li>
    <li>
    <p>Increased flexibility.</p>
    </li>
    <li>
    <p>A release of tight, overworked muscles.</p>
    </li>
    <li>
    <p>Natural joint pain relief by applying pressure to spasms, also called trigger points.</p>
    </li>
    <li>
    <p>Julie teaches you how you can easily release muscle tension before, during or after you exercise.</p>
    </li>
    <li>
    <p>Learn how to do a quick 5-10-minute self-treatment session on a particular muscle group.</p>
    </li>
    </ul>
    <p>I look forward to welcoming you to the Flexible Athlete in Sarasota and Venice, Florida.</p>
    
    </div>
{% endblock %}
