{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Blog Posts</h1>
  <form action="" method="get">
    <input type="text" name="q" placeholder="Search posts..." />
    <button type="submit">Search</button>
  </form>
  {% for post in posts %}
  <div>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>Published on: {{ post.published_date }}</p>
  </div>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
      {% if posts.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ posts.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
      </span>

      {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}">next</a>
      <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
